<h1>Young</h1>
@{
    List <string> fizzBuzz = new List<string>();
}


    @for (var i = 1; i <= 100; i++)
    {
        if (i % 3 == 0 && i % 5 == 0) { fizzBuzz.Add("FizzBuzz"); }

        else if (i % 3 == 0) { fizzBuzz.Add("Fizz"); }

        else if (i % 5 == 0) { fizzBuzz.Add("Buzz"); }

        else { fizzBuzz.Add(i.ToString()); }

    }

    @foreach (var number in fizzBuzz)
    {
    }
}